<html>
<head><title>Cost Per Meal Report</title></head>
<body>
    <h1>Cost Per Meal Report</h1>
    <table border="1" cellpadding="10" cellspacing="0" style="width: 50%; margin-top: 20px;">
        <tr>
            <th>Total Food Cost (Used)</th>
            <td>R{{ total_cost }}</td>
        </tr>
        <tr>
            <th>Total Patients Served</th>
            <td>{{ patient_count }}</td>
        </tr>
        <tr>
            <th>Average Cost Per Meal</th>
            <td>R{{ cost_per_meal }}</td>
        </tr>
    </table>
</body>
</html>
