{% extends 'base.html' %}
{% block content %}

<h2>Patient List</h2>

<ul>
    {% for patient in patients %}
        <li>
            Patient #: {{ patient.patient_number }}<br>
            Dietary Requirement: {{ patient.dietary_requirement }}<br>
            Category: {{ patient.category.category_name }}
        </li>
    {% empty %}
        <li>No patients found.</li>
    {% endfor %}
</ul>
<a href="{% url 'dashboard' %}" style="display: inline-block; margin-bottom: 20px; padding: 8px 12px; background-color: #ddd; text-decoration: none; border-radius: 5px;">← Back to Home</a>
{% endblock %}
