{% extends 'base.html' %}
{% block content %}

<h2>Stock Balance </h2>
<table>
  <tr>
    <th>Food Item</th>
    <th>Total In</th>
    <th>Total Out</th>
    <th>Balance</th>
  </tr>
  {% for item in balance %}
  <tr>
    <td>{{ item.food_item__name }}</td>
    <td>{{ item.total_in|default:0 }}</td>
    <td>{{ item.total_out|default:0 }}</td>
    <td>{{ item.total_in|default:0|floatformat:2|add:"-`" | add:item.total_out|default:0|floatformat:2 }}</td>
  </tr>
  {% endfor %}
</table>

<a href="{% url 'dashboard' %}" style="display: inline-block; margin-bottom: 20px; padding: 8px 12px; background-color: #ddd; text-decoration: none; border-radius: 5px;">← Back to Home</a>
{% endblock %}
